* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #152337;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;
    --white: #fff;
    --dark-white: #D8DDE5;
    --light-blue: #5FBCE4;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
    display: flex;
    gap: 50px;
}
.avatar-container {
    background-image: url(./assets/avatar_background.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 50px;
}
.avatar {
    width: 350px;
}
.small-wave {
    width: 100px;
    float: right;
    margin-top: 20px;
}
.info-title {
    color: var(--white);
    margin-top: 80px;
    font-size: 32px;
}
.info-container {
    margin-top: 50px;
}
.sub-info-title {
    color: var(--dark-white);
    font-size: 24px;
}
.info-list {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-text {
    color: var(--dark-white);
    font-size: 16px;
}
.link {
    color: var(--dark-white);
}
.language-container {
    margin-top: 50px;
}
.links-container {
    margin-top: 50px;
}
.name {
    color: var(--white);
    font-size: 40px;
    margin-top: 40px;
}
.position-title {
    font-size: 24px;
    color: var(--light-blue);
    margin-top: 20px;
}
.section-container {
    margin-top: 50px;
}
.title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 32px;
    color: var(--white);
}
.big-wave {
    width: 300px;
}
.about-me-text {
    font-size: 16px;
    color: var(--dark-white);
}

